/* Stile per il box generale che contiene il titolo e la lista */
.box {
    width: 90%; /* Box più largo */
    margin: 20px auto;
}

/* Stile per la sezione del titolo */
.title-section {
    background-color: #a5a5a5; /* Grigio scuro */
    padding: 10px;
    text-align: center;
}

h1 {
    color: rgb(7, 7, 7); /* Colore bianco per il titolo */
    margin: 0;
    font-weight: 50;
}

/* Stile per la sezione della lista (parte inferiore) */
.menu-section {
    background-color: #dfdede; /* Colore grigio più chiaro */
    padding: 10px;
    text-align: center; /* Centrato */
}

ul {
    padding-left: 20px;
    margin: 0;
}

/* Aggiungi il seguente stile per i punti della lista */
.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px; /* Spazio tra i link */
    list-style: disc; /* Aggiungi i pallini */
}

.menu li a {
    color: rgb(82, 82, 248); /* Colore blu per i link */
    font-size: 10px;
    font-weight: bold; /* Grassetto */
    text-decoration: none;
}

/* Grande box grigio scuro che contiene due sezioni */
.large-box {
    background-color: #333; /* Grigio scuro */
    padding: 20px;
    display: flex;
    width: 90%;
    margin: 10px auto;
}

/* Box di sinistra e destra */
.left-box {
    background-color: #666; /* Grigio per il box interno (sinistra) */
    padding: 10px;
    width: 65%; /* Box di sinistra più largo */
    float: left;
}

.right-box {
    background-color: #666; /* Cambiato a un grigio più chiaro per la box di destra */
    padding: 10px;
    width: 30%; /* Box di destra più stretto */
    float: right;
}

/* Stile per i box bianchi con bordi gialli */
.white-box {
    background-color: rgb(221, 220, 220);
    border: 2px solid rgb(242, 242, 117); /* Bordo giallo sottile */
    margin-bottom: 10px;
    padding: 10px;
}

/* Articolo */
.article h2 {
    margin: 0;
    color: black;
    text-align: center; /* Centrato */
}

/* Immagini */
.img-container {
    display: flex; /* Usa flexbox per allineare le immagini */
    justify-content: space-between; /* Spazio tra le immagini */
    margin-top: 10px; /* Margine sopra le immagini */
}

.img-container .white-box {
    flex: 1; /* Rende ogni box per l'immagine uguale */
    margin-right: 10px; /* Spazio tra le immagini */
    height: 70px;
    text-align: center; /* Centrato */
}

.img-container .white-box:last-child {
    margin-right: 0; /* Rimuovi margine per l'ultimo box */
}

.white-box img {
    width: 100%; /* Immagini che occupano l'intero box */
    height: auto;
    display: block;
}

/* Stile per i progetti */
.right-box h2 {
    margin: 0;
    color: black;
    text-align: center;
}

/* Lista delle date */
.date-list {
    padding: 0; /* Rimuovi padding */
    margin: 10px; /* Rimuovi margine */
    height: 155px;
}

.date-list li {
    margin-bottom: 16px;
    color: black;
    text-align: left;
    margin-bottom: 5px;
    line-height: 15px;
}

/* Footer */
footer {
    background-color: #dfdede; /* Grigio chiaro per il footer */
    padding: 30px;
    text-align: center;
    margin-top: 30px; /* Spazio sopra il footer */
}

.footer-box {
    width: 80%; /* Stessa larghezza del resto */
    margin: 0 auto; /* Centrato */
    height: 5px;
}

/* Stile per il testo del footer */
footer p {
    color: black; /* Colore testo footer */
    margin: 5; /* Margine */
}

/* Link nel footer */
footer a {
    color: rgb(27, 97, 172); /* Colore blu per il link */
    text-decoration: none; /* Nessuna sottolineatura */
}
