/* Stile per il box generale che contiene il titolo e la lista */
.box {
    width: 90%; /* Box più largo */
    margin: 20px auto;
}

/* Stile per la sezione del titolo */
.title-section {
    background-color: #a5a5a5; /* Grigio scuro */
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(7, 7, 7); /* Colore bianco per il titolo */
    margin: 0;
}

/* Stile per la sezione della lista (parte inferiore) */
.menu-section {
    background-color: #dfdede; /* Colore grigio più chiaro */
    padding: 20px;
    text-align: center; /* Centrato */
}

.menu {
    padding: 0;
    margin: 0;
    list-style-type: disc; /* Aggiunge i puntini nella lista */
    display: block; /* Allinea la lista orizzontalmente */
}

.menu li {
    display: block; /* Mostra i link in fila */
    margin: 0 10px; /* Spazio tra i link */
}

.menu li a {
    color: blue; /* Colore blu per i link */
    font-size: 12px;
    font-weight: bold; /* Grassetto */
}

/* Grande box grigio scuro che contiene due sezioni */
.large-box {
    background-color: #333; /* Grigio scuro */
    padding: 20px;
    display: flex;
    width: 90%;
    margin: 10px auto;
}

/* Box di sinistra e destra */
.left-box {
    background-color: #666; /* Grigio per il box interno */
    padding: 10px;
    width: 65%; /* Box di sinistra più largo */
}

.right-box {
    background-color: #666; /* Grigio per il box interno */
    padding: 10px;
    width: 30%; /* Box di destra più stretto */
}

/* Stile per i box bianchi con bordi gialli */
.white-box {
    background-color: white;
    border: 2px solid yellow; /* Bordo giallo sottile */
    margin-bottom: 10px;
    padding: 10px;
}

/* Articolo */
.article h2 {
    margin: 0;
    color: black;
    text-align: center; /* Centrato */
}


/* Immagini */
.img-container {
    display: flex; /* Usa flexbox per allineare le immagini */
    justify-content: space-between; /* Spazio tra le immagini */
    margin-top: 10px; /* Margine sopra le immagini */
}

.img-container .white-box {
    flex: 1; /* Rende ogni box per l'immagine uguale */
    margin-right: 10px; /* Spazio tra le immagini */
    height: 70px;
    text-align: center; /* Centrato */
}


.img-container .white-box:last-child {
    margin-right: 0; /* Rimuovi margine per l'ultimo box */
}

.white-box img {
    width: 100%; /* Immagini che occupano l'intero box */
    height: auto;
    display: block;
}

/* Stile per i progetti */
.right-box h2 {
    margin: 0;
    color: black;
}

/* Lista delle date */
.date-list {
    padding: 0; /* Rimuovi padding */
    margin: 0; /* Rimuovi margine */
}

.date-list li {
    margin-bottom: 15px;
    color: black;
}

/* Footer */
footer {
    background-color: #dfdede; /* Grigio chiaro per il footer */
    padding: 30px 0;
    text-align: center;
    margin-top: 20px; /* Spazio sopra il footer */
}

.footer-box {
    width: 90%; /* Stessa larghezza del resto */
    margin: 0 auto; /* Centrato */
}

/* Stile per il testo del footer */
footer p {
    color: black; /* Colore testo footer */
    margin: 5; /* Margine */
}

/* Link nel footer */
footer a {
    color: rgb(48, 74, 101); /* Colore blu per il link */
    text-decoration: none; /* Nessuna sottolineatura */
}
